coverage/
node_modules/
run/
temp/
logs/
precompile-check-tmp/
.idea/
.logs/
.vscode/
.DS_Store
.node-diamond-client-cache
*.log
*.swp
*-run/
*-tair.xml
test/**/proxy_class_map.js
test/fixtures/antx/conf/
test/fixtures/proxy_tpl/**/proxy*
test/fixtures/proxy_tpl/**/.gitignore
npm-debug.log
assembly

assembly/
mocks_data/proxy/**/__*
